body {
  margin: 0px;
  font-size: 14px; }

@font-face {
  font-family: 'Karma', serif;
  src: url(/https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css/to/fonts/Karma.woff) format("woff");
  font-style: normal;
  font-display: swap; }
.link-style, .accordion-content-wrapper #accordion .card .card-header .mb-0 :hover, #full-menu .card .card-header .mb-0 :hover {
  text-decoration: none; }

#inside-left {
  color: white; }

#inside-down {
  color: white; }

#icon-change, #icon-logout {
  position: relative;
  right: 10px; }

#old_psw_label {
  padding-left: 20px; }

#confirm_psw_label {
  padding-left: 30px; }

#delete-icon {
  position: relative;
  color: white; }

#edit-icon {
  position: relative;
  color: white; }

#add-icon {
  position: relative;
  left: 5px;
  color: white; }

#inside_menu {
  padding-left: 20px; }

#table-content {
  color: #34495e; }

hr {
  margin-top: 25px; }

.dashboard-stat.blue {
  background-color: blue; }

.dashboard-stat.red {
  background-color: red; }

.dashboard-stat.green {
  background-color: green; }

div.visual i {
  color: white;
  opacity: 0.2;
  font-size: 120px; }

div.desc.float-left {
  color: white; }

.table-title {
  position: relative;
  top: 25px; }
  .table-title h3 {
    margin-top: 5px;
    margin-right: 20px; }
  .table-title span {
    font-size: 16px;
    display: inline;
    line-height: 20px;
    margin-top: 15px;
    margin-bottom: 0px; }
  .table-title a#btn-add {
    background: #22313F;
    position: relative;
    color: white; }
    .table-title a#btn-add #add-icon {
      position: relative;
      left: 5px; }
    .table-title a#btn-add #btn-minus {
      color: white;
      background: #4DB3A2;
      position: relative; }
      .table-title a#btn-add #btn-minus #minus-icon {
        position: relative;
        left: 5px; }

#table {
  border: 2px solid #2C3E50; }
  #table .table {
    margin-bottom: 0px; }
  #table a#btn-view {
    background-color: #4DB3A2;
    color: white; }
    #table a#btn-view #icon-view {
      position: relative;
      right: 5px; }
  #table #table-title {
    font-size: 18px;
    color: white;
    background-color: #2C3E50; }
    #table #table-title #table-icon {
      position: relative;
      right: 5px; }

div.form-group.row {
  margin-bottom: 0px; }

div.custom-file {
  width: 50%; }

@media only screen and (max-width: 1125px) {
  .col-lg-10 {
    padding-left: 60px; } }
@media only screen and (max-width: 1025px) {
  .col-lg-10 {
    padding-left: 75px; } }
@media only screen and (max-width: 992px) {
  .col-lg-10 {
    padding-left: 0px; } }
@media only screen and (max-width: 768px) {
  .col-lg-10 {
    padding-left: 0px; } }
@media only screen and (max-width: 320px) {
  .logo-default {
    width: 150px; } }
#header {
  background-color: #2b3643; }
  #header a#admin.nav-link {
    color: white; }
    #header a#admin.nav-link :hover .dropdown-menu {
      display: block; }
  #header a#admin-responsive.nav-link {
    color: white; }

.accordion-content-wrapper #accordion {
  background: #364150;
  height: auto;
  width: 245px; }
  .accordion-content-wrapper #accordion .card {
    background-color: #364150;
    border: 1px  white; }
    .accordion-content-wrapper #accordion .card #headingOne {
      padding-top: 50px; }
    .accordion-content-wrapper #accordion .card #headingSixthteen {
      padding-bottom: 50px; }
    .accordion-content-wrapper #accordion .card .card-header {
      padding: 3px 15px; }
      .accordion-content-wrapper #accordion .card .card-header .mb-0 button.btn-link {
        color: white;
        font-weight: 300;
        font-size: 14px; }
      .accordion-content-wrapper #accordion .card .card-header .mb-0 button a {
        color: white;
        font-weight: 300;
        font-size: 14px; }
      .accordion-content-wrapper #accordion .card .card-header .mb-0 #arrow-left {
        position: absolute;
        right: 20px;
        color: white; }
      .accordion-content-wrapper #accordion .card .card-header .mb-0 #arrow-down {
        position: absolute;
        right: 20px;
        color: white; }
    .accordion-content-wrapper #accordion .card .collapse .card-body {
      padding: 10px 0px 0px 60px; }
      .accordion-content-wrapper #accordion .card .collapse .card-body a {
        font-size: 14px;
        color: white; }

#full-menu {
  background: #364150;
  height: auto;
  width: 100%; }
  #full-menu .card {
    background-color: #364150;
    border: 1px  white; }
    #full-menu .card #headingOne {
      padding-top: 50px; }
    #full-menu .card #headingSixthteen {
      padding-bottom: 50px; }
    #full-menu .card .card-header {
      padding: 3px 15px; }
      #full-menu .card .card-header .mb-0 button.btn-link {
        color: white;
        font-weight: 300;
        font-size: 14px; }
      #full-menu .card .card-header .mb-0 button a {
        color: white;
        font-weight: 300;
        font-size: 14px; }
      #full-menu .card .card-header .mb-0 #left {
        position: absolute;
        right: 20px; }
      #full-menu .card .card-header .mb-0 #right {
        position: absolute;
        right: 20px; }
    #full-menu .card .collapse .card-body {
      font-size: 16px;
      padding: 10px 0px 0px 60px; }
      #full-menu .card .collapse .card-body a {
        color: white; }

#footer {
  background-color: #2b3643;
  height: auto;
  color: white; }

/*# sourceMappingURL=style.css.map */
