
@model crm_system.Models.Admin

@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Admin Login</title>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--::::::::::::::::::::: BEGIN CSS LINKS :::::::::::::::::-->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Karma:300,400,500,600,700" rel="stylesheet">
    <link rel="stylesheet" href="~/css/reset.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/style.css">
    <!--::::::::::::::::::::: END CSS LINKS :::::::::::::::::::-->
</head>
<body class="login" style="background-image: url(/images/bg_login.jpg) ;background-position: top left;background-repeat: no-repeat;">
    <div class="card bg-info" style="width: 360px;height:260px; position: absolute;top:calc(50% - 130px);left:calc(50% - 180px)" id="admin_login_card">
        <h3 class="ml-3 mt-3">Admin Login</h3>
        <div class="card-body">
            <form action="/Login/Index" method="get">
                <div class="form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-prepend" style="padding: 10px;border:1px solid #ced4da;border-top-left-radius: 0.25rem;border-bottom-left-radius: 0.25rem;background-color: #fff;"><i class="fa fa-user" style="color:#ced4da"></i></span>
                        <input type="text" style="border-top-left-radius: 0px;border-bottom-left-radius: 0px;" class="form-control" id="admin_username" placeholder="Enter Username" name="admin_username" required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-prepend" style="padding: 10px;border:1px solid #ced4da;border-top-left-radius: 0.25rem;border-bottom-left-radius: 0.25rem;background-color: #fff;"><i class="fa fa-lock" style="color:#ced4da"></i></span>
                        <input type="password" style="border-top-left-radius: 0px;border-bottom-left-radius: 0px;" class="form-control" id="admin_password" placeholder="Enter Password" name="admin_password" required>
                    </div>
                </div>
                <div class="custom-control custom-checkbox  mt-3 float-left">
                    <input type="checkbox" class="custom-control-input" id="customControlInline">
                    <label class="custom-control-label" for="customControlInline">Remember me</label>
                </div>
                <!-- <button type="submit" class="btn btn-success float-right">Login</button> -->
                <button class="btn btn-success float-right">Login</button>
            </form>
        </div>
    </div>

    <!-- :::::::::::::::::::::::::::::::::::::::SCRIPT LINk::::::::::::::::::::::::::::::::::::::::::::::::::: -->
    <script src="~/js/tether.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="~/js/utils.js"></script>
    <script src="~/js/script.js"></script>
</body>
</html>